<div class="container">


  <div class="row">
    <td>
      <button mat-raised-button (click)="changeFrequency()">Change frequency</button>
    </td>

    <mat-form-field>
      <mat-label>Generation frequency</mat-label>
      <input matInput placeholder="Input frequency" value="5" [(ngModel)]="frequency">
    </mat-form-field>

    <mat-form-field>
      <!--      <mat-label>Measure units</mat-label>-->
      <mat-select [ngModel]="multiply.multiply_factor" (ngModelChange)="onChange($event)">
        <mat-option *ngFor="let mult of multiplies" [value]="mult.multiply_factor" >
          {{mult.units}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

</div>
